{% extends 'base.html' %}


{% block content %}
{{ super() }}

<div class="title_content">
    <h2 class="smaller_title">
       <a href="{{ url_for('all_authors') }}">Все авторы</a> → {{ author.fullname }} ({{ author.years_life }} гг.)
    </h2>
</div>

{% if biography_text %}
    <div class="biography_here">
        <h3 class="title_compositions" id="title_books">Об авторе</h3>

        <div class="biography_block">

            <div class="biography_text">
                {{ biography_text | safe }}
            </div>


            <div class="portrait_author">
                <img src="{{ url_for('get_author_portrait', id=author.id) }}" alt="" />
            </div>

        </div>
    </div>
{% endif %}


{% if all_books %}
    <div class="books_here">
        <h3 class="title_compositions" id="title_books">Сочинения</h3>
        {% for year in all_books %}
            <h3 class="year_compositions">{{ year }}</h3>

            {% for book in all_books[year] %}
                <div class="book_block">
                    {% if current_user.is_authenticated %}
                        {% if book.id in favourites_books %}
                            <p class="favourite_link remove in_favourites">-</p>
                            <a href="{{ url_for('book_page', author_url=author.url, book_url=book.url) }}" class="in_favourites">
                                {{ book.title }}
                            </a>
                        {% else %}
                            <p class="favourite_link add">+</p>
                            <a href="{{ url_for('book_page', author_url=author.url, book_url=book.url) }}">
                                {{ book.title }}
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{{ url_for('book_page', author_url=author.url, book_url=book.url) }}">
                            {{ book.title }}
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}

        <!--{% if current_user.is_authenticated %}
            <div class="btn_save"> 
                <button id="save_favourites">
                    Обновить избранное
                </button>
            </div>
        {% endif %}-->
    </div>
{% endif %}

<script>
try{
    let favourites_all = [];
    let favourites_add = [];
    let favourites_remove = []
    let allBtns = document.querySelectorAll(".book_block .favourite_link");


    //Логика на добавление в массив избранных произведений
    for (let btn of allBtns){
        btn.onclick = function(){
            nextElement = btn.nextElementSibling.text.trim().slice(0, -10);

            if (btn.classList.contains("add")){
                favourites_add.push(nextElement);
                favourites_remove = favourites_remove.filter(function(value) {return value != nextElement});
         
                btn.innerHTML = "-";
                btn.nextElementSibling.classList.add("in_favourites");
                btn.classList.add("in_favourites");

                btn.classList.remove("add");
                btn.classList.add("remove");
            }
            else{      
                favourites_add = favourites_add.filter(function(value) {return value != nextElement});
                favourites_remove.push(nextElement);


                btn.innerHTML = "+";
                btn.nextElementSibling.classList.remove("in_favourites");
                btn.classList.remove("in_favourites");

                btn.classList.remove("remove");
                btn.classList.add("add");
            }

            console.log(favourites_add);
            console.log(favourites_remove);

            //Логика AJAX - запроса
            const requestURL = "{{ url_for('favourites_upload', _external=True) }}";
            const xhr = new XMLHttpRequest();
            const btnSave = document.querySelector("#save_favourites");
            const author = "{{ author.fullname }}";
            console.log(author, typeof author)
            let contentToSend;



            //btnSave.onclick = () => {
            contentToSend = {
                add: {
                    content: favourites_add 
                },
                
                remove: {
                    content: favourites_remove
                },

                author: author
            };
            xhr.open("POST", requestURL);
            xhr.onload = () => {
                console.log(xhr.response);
            }
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.send(JSON.stringify(contentToSend));
            //}
        }
    }


}
catch(err){
    console.error(err);
}
</script>

{% endblock %}