{% extends 'base.html' %}


{% block content %}
{{ super() }}

<div class="title_content">
    <h2 class="smaller_title">
        <a href="{{ url_for('all_authors') }}">Все авторы</a> → <a href="{{ url_for('author_page', author_url=author.url) }}">{{ author.fullname }}</a> → {{ book.title }}
    </h2>

    <div class="chapters_here">

        {% if chapters %}
        <ul>
            {% for chap in chapters %}
                <li class="{{ chap['type'] }}">
                    <div class="chapter">
                        <a href="{{ url_for('book_chapter_page', author_url=author.url, book_url=book.url, chapter_active=chap['chapter_text']) }}">{{ chap['chapter_text'][4:-5].replace('ind1_', '') }}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% endif %}


        {% if chapters and book_begin_text %}
            <hr class="sep_chapters_and_begin_text"/>
        {% endif %}


        {% if book_begin_text %}
            <div class="book_text">
                {{ book_begin_text | safe }}
            </div>
        {% endif %}
        

    </div>
</div>

{% endblock %}