@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap");
/*
    font-family: 'Charis SIL', serif;
    font-family: 'Oswald', sans-serif;
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: "Charis SIL", serif;
  min-width: 700px;
  overflow-x: hidden;
}
body .content_block {
  min-width: 80%;
  max-width: 90%;
  justify-self: center;
  margin: 2rem 0 1rem 0;
}
body .content_block h2:first-child {
  font-size: 30px;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(50, 50, 50, 0.5);
}
body .content_block h2:first-child a {
  color: #000;
}
body .content_block h2:first-child a:hover {
  color: red;
}
body .content_block h2.smaller_title {
  font-size: 20px;
}
body .content_block h2.smaller_title.navigation {
  margin-top: 1rem;
  /*a:not(:nth-child(1)){
      margin-left: 10px;
  }*/
}
body .content_block h2.smaller_title.navigation a {
  color: #000;
}
body .content_block h2.smaller_title.navigation a:hover {
  color: red;
}
body .content_block h2.smaller_title.navigation a.active {
  color: red;
}
body .content_block .flash_msgs_here {
  margin-top: 1rem;
}
body .content_block .flash_msgs_here p {
  font-size: 18px;
  padding: 3px 2px;
  border-radius: 1px;
  position: relative;
}
body .content_block .flash_msgs_here p.error {
  color: #fff;
  background-color: rgba(245, 55, 96, 0.5);
  border: 1px solid #141414;
  padding: 5px 10px;
}
body .content_block .flash_msgs_here p.success {
  color: #fff;
  background-color: #2caa50;
  border: 1px solid #141414;
  padding: 5px 10px;
}
body .content_block .flash_msgs_here #close_flash_msg {
  position: absolute;
  right: 7px;
  top: 50%;
  margin-top: -23px;
  font-size: 25px;
  font-style: normal;
  cursor: pointer;
  transition-duration: 0.3s;
}
body .content_block .flash_msgs_here #close_flash_msg:hover {
  color: #f2f2f2;
  text-decoration: underline;
}
body .content_block .form_here {
  margin-top: 1rem;
  display: grid;
}
body .content_block .form_here form {
  display: grid;
  grid-row-gap: 1rem;
  width: 100%;
  justify-self: center;
}
body .content_block .form_here form label {
  font-size: 18px;
}
body .content_block .form_here form input:not(input[type=submit]) {
  padding: 7px 15px;
  border-radius: 3px;
  border: 1px solid rgba(50, 50, 50, 0.5);
  outline: none;
  font-family: "Charis SIL", serif;
  font-size: 14px;
}
body .content_block .form_here form input:not(input[type=submit]):focus {
  background-color: #f2f2f2;
}
body .content_block .form_here form input:not(input[type=submit]).invalid {
  background-color: rgba(245, 55, 96, 0.5);
}
body .content_block .form_here form .submit_btn {
  margin-top: 20px;
  width: 20%;
  position: relative;
}
body .content_block .form_here form .submit_btn input[type=submit] {
  width: 100%;
  font-family: "Charis SIL", serif;
  font-size: 16px;
  background: none;
  border: 1px solid rgba(50, 50, 50, 0.5);
  cursor: pointer;
  border-radius: 3px;
  padding: 7px 15px;
  transition-duration: 0.3s;
  position: relative;
  display: block;
  z-index: 100;
}
body .content_block .form_here form .submit_btn::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  background-color: #d8131d;
  height: 100%;
  width: 0;
  transition-duration: 0.3s;
  z-index: -1;
  border-radius: 3px;
}
body .content_block .form_here form .submit_btn:hover input {
  color: #fff;
  border: 1px solid #d8131d;
}
body .content_block .form_here form .submit_btn:hover::before {
  width: 100%;
}

header {
  display: grid;
  grid-template-areas: "title_logo nav btns_header";
  grid-template-columns: repeat(3, 33%);
  padding: 2rem 4rem;
  background-color: #141414;
  color: #fff;
}
header .logo {
  grid-area: title_logo;
  line-height: 33px;
}
header .logo i {
  color: #ed315a;
  font-style: normal;
}
header nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav > a {
  color: #fff;
  font-size: 20px;
  white-space: nowrap;
}
header nav > a:not(:first-child) {
  margin-left: 25px;
}
header nav > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  background-color: #ff0037;
  bottom: -8px;
  opacity: 0;
  left: 0;
  transition-duration: 0.3s;
}
header nav > a:hover {
  color: #f7f7f7;
}
header nav > a:hover::before {
  opacity: 1;
  bottom: -2px;
  background-color: #ed315a;
}
header nav > a.active::before {
  opacity: 1;
  bottom: -2px;
  background-color: #ed315a;
}
header .btns_header {
  grid-area: "btns_header";
  display: flex;
  justify-content: center;
  align-items: center;
}
header .btns_header a {
  color: #fff;
  font-size: 20px;
  padding: 2px 5px;
  border-radius: 2px;
  position: relative;
  transition-duration: 0.3s;
}
header .btns_header a:not(:first-child) {
  margin-left: 20px;
}
header .btns_header a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: 0.3s;
}
header .btns_header #auth.active::before {
  width: 100%;
}
header .btns_header #auth.active {
  color: #000;
}
header .btns_header #register.active::before, header .btns_header #favourites.active::before {
  width: 100%;
}
header .btns_header a:hover::before {
  width: 100%;
}
header .btns_header #auth {
  border: 2px solid #fff;
  z-index: 100;
}
header .btns_header #auth:hover {
  color: #000;
}
header .btns_header #auth::before {
  background-color: #fff;
}
header .btns_header #register, header .btns_header #favourites {
  border: 2px solid #ed315a;
  box-shadow: 0 0 1px 1px rgb(237, 49, 90);
  z-index: 100;
  white-space: nowrap;
}
header .btns_header #register::before, header .btns_header #favourites::before {
  background-color: #ed315a;
}
header a {
  text-decoration: none;
  transition-duration: 0.3s;
  position: relative;
}
header .burger_menu {
  display: none;
  grid-area: burger_menu;
  align-content: center;
  grid-row-gap: 7px;
  width: 50px;
  height: 45px;
  cursor: pointer;
  position: relative;
}
header .burger_menu .nav_burger {
  display: none;
  position: absolute;
  left: 0;
  bottom: -133px;
  background-color: #000;
  flex-direction: column;
  width: 300px;
  z-index: 1000;
}
header .burger_menu .nav_burger a {
  color: #fff;
  font-size: 17px;
  padding: 5px 0;
  padding-left: 10px;
  transition-duration: 0.3s;
}
header .burger_menu .nav_burger a:hover {
  background-color: #842136;
}
header .burger_menu .nav_burger a:not(:last-child) {
  border-bottom: 1px solid #fff;
}
header .burger_menu:hover .nav_burger {
  display: grid;
}
header .burger_menu .burger_line {
  width: 100%;
  height: 4px;
  background-color: #ed315a;
  display: block;
  transition-duration: 0.3s;
}
header .burger_menu:hover .burger_line:nth-child(1) {
  transform: rotate(180deg);
}
header .burger_menu:hover .burger_line:nth-child(3) {
  transform: rotate(-180deg);
}

.content_block .authors_here {
  margin-top: 1rem;
  grid-template-columns: repeat(5, 20%);
  display: grid;
  grid-gap: 1rem;
}
.content_block .authors_here .author_block {
  display: grid;
  border: 2px solid #000;
  border-radius: 2px;
  padding: 6px 10px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  transition-duration: 0.3s;
}
.content_block .authors_here .author_block p {
  white-space: nowrap;
}
.content_block .authors_here .author_block:hover {
  background-color: rgba(237, 49, 90, 0.7);
  border: 2px solid rgba(237, 49, 90, 0.7);
  color: #fff;
}

.content_block .title_compositions {
  text-align: center;
  border-bottom: 1px solid #AAAAAA;
  margin-bottom: 1.5rem;
  font-size: 25px;
}

.content_block .biography_here {
  margin-top: 1rem;
}
.content_block .biography_here .biography_block {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-column-gap: 2rem;
}
.content_block .biography_here .biography_block .biography_text {
  font-size: 18px;
}
.content_block .biography_here .biography_block .biography_text p {
  text-indent: 1.5rem;
  margin-top: 1rem;
}
.content_block .biography_here .biography_block .biography_text ol {
  margin-left: 5rem;
}
.content_block .biography_here .biography_block .portrait_author {
  height: 350px;
  position: relative;
}
.content_block .biography_here .biography_block .portrait_author img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  object-fit: contain;
}

.content_block .books_here {
  margin-top: 1rem;
  font-size: 18px;
  position: relative;
  /*Кнопка сохранения в избранное*/
}
.content_block .books_here .btn_save {
  position: absolute;
  right: 15px;
  top: 15px;
}
.content_block .books_here .btn_save #save_favourites {
  font-size: 15px;
  padding: 5px;
  background: none;
  border: 2px solid #ed315a;
  box-shadow: 0 0 1px 1px rgba(237, 49, 90, 0.1);
  font-size: 18px;
  font-family: "Charis SIL", serif;
  font-weight: 500;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  transition-duration: 0.2s;
  z-index: 100;
}
.content_block .books_here .btn_save #save_favourites::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 0;
  background-color: #ed315a;
  transition-duration: 0.3s;
  display: block;
  z-index: -1;
}
.content_block .books_here .btn_save #save_favourites:hover {
  color: #fff;
}
.content_block .books_here .btn_save #save_favourites:hover::before {
  width: 100%;
}
.content_block .books_here .btn_save #save_favourites:active {
  border-color: 2px solid #d8131d;
}
.content_block .books_here .btn_save #save_favourites:active::before {
  background-color: #d8131d;
}

.book_block {
  position: relative;
}
.book_block a {
  color: #000;
  text-decoration: underline;
}
.book_block a:hover {
  color: red !important;
}
.book_block a.in_favourites {
  color: #d8131d !important;
}
.book_block a.in_favourites:hover {
  color: red !important;
}
.book_block .favourite_link {
  color: #000;
  text-decoration: none;
  position: absolute;
  left: -35px;
  top: 50%;
  margin-top: -16px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  cursor: pointer;
}
.book_block .favourite_link:hover {
  color: red;
  text-decoration: underline;
}
.book_block .favourite_link.in_favourites {
  color: #842136;
}

.content_block .chapters_here {
  margin-top: 1rem;
  font-size: 18px;
  display: grid;
}
.content_block .chapters_here .sep_chapters_and_begin_text {
  width: 30%;
  margin: 2rem auto;
  height: 1px;
}
.content_block .chapters_here a {
  color: #000;
  text-decoration: underline;
  display: inline-block;
}
.content_block .chapters_here a:hover {
  color: red;
}
.content_block .chapters_here ul li.default {
  margin-left: 0;
}
.content_block .chapters_here ul li.ind1 {
  margin-left: 1rem;
}

.content_block .navigation_bottom {
  padding-top: 1rem;
  border-top: 2px solid rgba(50, 50, 50, 0.5);
  margin: 2rem 0;
  /*a:not(:first-child){
      margin-left: 10px;
  }*/
}
.content_block .navigation_bottom a {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}
.content_block .navigation_bottom a:hover {
  color: red;
}
.content_block .navigation_bottom a.active {
  color: red;
}
.content_block .book_text {
  margin: 1rem 0;
  /*Навигация под названием*/
  /*Линия*/
  /*Картинки в этом блоке*/
  /*Текста по центру*/
  /*Таблица*/
  /*Стих*/
  /*Примечания
  .references-small{
      border-top: 1px solid #d8d8d8;
  }*/
  /*Навигация*/
}
.content_block .book_text .nav_under_title {
  margin-bottom: 1rem;
}
.content_block .book_text .nav_under_title a {
  color: #000;
}
.content_block .book_text .nav_under_title a:hover {
  color: red;
}
.content_block .book_text hr {
  margin-top: 1rem;
}
.content_block .book_text .references {
  margin-top: 1rem;
}
.content_block .book_text .references li {
  font-size: 16px;
}
.content_block .book_text .floatnone {
  text-align: center;
}
.content_block .book_text div[align=center] p {
  text-align: center;
}
.content_block .book_text table {
  margin: 2rem 0;
}
.content_block .book_text table.standard, .content_block .book_text table.wide {
  border: 1px solid #d8d8d8;
  border-collapse: collapse;
  font-size: 14px;
}
.content_block .book_text table.standard td, .content_block .book_text table.wide td {
  border: 1px solid #d8d8d8;
  padding-left: 0.3em;
  padding-right: 0.3em;
  background-color: #FFFFFF;
}
.content_block .book_text .small_table_center {
  display: grid;
}
.content_block .book_text .small_table_center table {
  justify-self: center;
}
.content_block .book_text .verse p {
  text-indent: 0 !important;
}
.content_block .book_text p:not(table p) {
  text-align: justify;
  text-indent: 1rem;
  font-size: 16px;
}
.content_block .book_text p:not(:first-child) {
  margin-top: 0.5rem;
}
.content_block .book_text h3 {
  font-size: 40px;
  text-align: center;
}
.content_block .book_text sup a {
  color: red;
}
.content_block .book_text sup:hover a {
  color: #842136;
}
.content_block .book_text .references li a {
  color: red;
}
.content_block .book_text .references li a:hover {
  color: #842136;
}
.content_block .book_text .navigation_small_chapters ul {
  margin-top: 1rem;
}
.content_block .book_text .navigation_small_chapters ul a {
  color: #000;
}
.content_block .book_text .navigation_small_chapters ul a:hover {
  color: red;
}
.content_block .book_text .mini_chapter {
  margin: 2rem 0;
  font-size: 25px;
  text-align: center;
}

.content_block .favourites_here {
  margin-top: 1rem;
}
.content_block .favourites_here .author_fullname_title {
  font-size: 25px;
  color: #000;
}
.content_block .favourites_here .author_fullname_title:hover {
  color: red;
}
.content_block .favourites_here .block_author_indent .book_links {
  margin-left: 2rem;
}
.content_block .favourites_here .block_author_indent .book_links .book_block a {
  color: #000;
  font-size: 18px;
}
.content_block .favourites_here .block_author_indent .book_links .book_block a:hover {
  color: red;
}

@media (max-width: 1010px) {
  header {
    padding: 2rem 1rem;
  }
}
@media (max-width: 940px) {
  header {
    grid-column-gap: 0.5rem;
    grid-template-columns: 10% 50% 30%;
    grid-template-areas: "nav title_logo btns_header";
  }
  header .burger_menu {
    display: grid !important;
  }
  header nav {
    justify-content: start;
  }
  header nav > a {
    display: none;
  }

  .content_block .authors_here {
    grid-template-columns: repeat(3, 33%);
  }

  .book_text {
    margin: 0 auto;
  }
  .book_text table {
    display: block;
    width: 550px;
    overflow-x: scroll;
    margin: 0 auto !important;
  }
}/*# sourceMappingURL=styles.css.map */